@font-face {
  font-family: 'digital';
  src: url('font/DS-DIGI.TTF');
}
@font-face {
  font-family: 'press';
  src: url('font/Press.ttf');
}
.App {
  text-align: center;
}

.App span{
  font-family: digital;
  margin: 5px;
  font-size: 45px;
}

.App button {
  font-size: 15px;
  padding: 10px 15px;
  margin: 10px;
  font-family: press;
}
.App button:active {
  filter: brightness(0.7);
}
.App .start{
  background-color:rgb(21, 182, 21);
}

.App .stop{
  background-color:rgb(235, 42, 42);
}
.App h1 {
  font-family: press;
  margin: 50px;
}